<h3>Edit a Session</h3>
<%= form_with model: @session do |form| %>
  <p>Owner: <%= form.select :film_id, Film.all.map { |film| [ film.f_title, film.id ] } %></p>
  <p>Owner: <%= form.select :theatre_id, Theatre.all.map { |theatre| [ theatre.t_title, theatre.id ] } %></p>
  <p>Time: <%= form.text_field :time %></p>
  <%= form.submit %>
<% end %>